<?xml version="1.0" encoding="UTF-8"?>
<build-type xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://www.jetbrains.com/teamcity/schemas/2018.1/project-config.xsd">
  <name>Build</name>
  <description />
  <settings>
    <disabled-settings>
      <setting-ref ref="RUNNER_1" />
    </disabled-settings>
    <parameters>
      <param name="abc" value="credentialsJSON:574536c5-91b2-4a78-b32e-3d4d9da2b322" />
      <param name="env.abc" value="credentialsJSON:574536c5-91b2-4a78-b32e-3d4d9da2b322" />
      <param name="system.abc" value="credentialsJSON:574536c5-91b2-4a78-b32e-3d4d9da2b322" />
    </parameters>
    <build-runners>
      <runner id="RUNNER_1" name="" type="Maven2">
        <parameters>
          <param name="goals" value="clean test" />
          <param name="localRepoScope" value="agent" />
          <param name="maven.path" value="%teamcity.tool.maven.DEFAULT%" />
          <param name="pomLocation" value="pom.xml" />
          <param name="runnerArgs" value="-Dmaven.test.failure.ignore=true" />
          <param name="teamcity.coverage.emma.include.source" value="true" />
          <param name="teamcity.coverage.emma.instr.parameters" value="-ix -*Test*" />
          <param name="teamcity.coverage.idea.includePatterns" value="*" />
          <param name="teamcity.coverage.jacoco.patterns" value="+:*" />
          <param name="teamcity.step.mode" value="default" />
          <param name="teamcity.tool.jacoco" value="%teamcity.tool.jacoco.DEFAULT%" />
          <param name="userSettingsSelection" value="userSettingsSelection:default" />
        </parameters>
      </runner>
      <runner id="RUNNER_2" name="" type="simpleRunner">
        <parameters>
          <param name="script.content"><![CDATA[echo %abc%
echo %system.abc%]]></param>
          <param name="teamcity.step.mode" value="default" />
          <param name="use.custom.script" value="true" />
        </parameters>
      </runner>
    </build-runners>
    <vcs-settings />
    <requirements />
    <build-triggers>
      <build-trigger id="TRIGGER_1" type="vcsTrigger">
        <parameters>
          <param name="branchFilter" value="+:*" />
          <param name="enableQueueOptimization" value="true" />
          <param name="quietPeriodMode" value="DO_NOT_USE" />
        </parameters>
      </build-trigger>
    </build-triggers>
    <cleanup />
  </settings>
</build-type>

