<?xml version="1.0" encoding="UTF-8"?>
<vcs-root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" uuid="b6a5dc72-a88d-4a8a-b65d-716024b7ae90" type="jetbrains.git" xsi:noNamespaceSchemaLocation="https://www.jetbrains.com/teamcity/schemas/2018.1/project-config.xsd">
  <name>testing token</name>
  <param name="agentCleanFilesPolicy" value="ALL_UNTRACKED" />
  <param name="agentCleanPolicy" value="ON_BRANCH_CHANGE" />
  <param name="authMethod" value="PASSWORD" />
  <param name="branch" value="refs/heads/master" />
  <param name="ignoreKnownHosts" value="true" />
  <param name="secure:password" value="credentialsJSON:70de26a2-ade8-49c5-ac1f-83f22eae7a09" />
  <param name="submoduleCheckout" value="CHECKOUT" />
  <param name="url" value="https://github.com/missingdays/yet-another-game-prototype" />
  <param name="useAlternates" value="true" />
  <param name="username" value="rebovykin@gmail.com" />
  <param name="usernameStyle" value="USERID" />
</vcs-root>

