<?xml version="1.0" encoding="UTF-8"?>
<vcs-root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" uuid="bb226c20-6a1a-4204-a7d1-77888d048879" type="jetbrains.git" xsi:noNamespaceSchemaLocation="https://www.jetbrains.com/teamcity/schemas/2018.1/project-config.xsd">
  <name>testing tokens</name>
  <param name="agentCleanFilesPolicy" value="ALL_UNTRACKED" />
  <param name="agentCleanPolicy" value="ON_BRANCH_CHANGE" />
  <param name="authMethod" value="PASSWORD" />
  <param name="branch" value="refs/heads/master" />
  <param name="ignoreKnownHosts" value="true" />
  <param name="secure:password" value="credentialsJSON:2ef46c30-a9e7-4293-bf6d-92331995367b" />
  <param name="submoduleCheckout" value="CHECKOUT" />
  <param name="url" value="https://github.com/missingdays/yet-another-game-prototype" />
  <param name="useAlternates" value="true" />
  <param name="username" value="missingdays" />
  <param name="usernameStyle" value="USERID" />
</vcs-root>

